<!DOCTYPE HTML>
<html>
  <head>
    <base href="/samples/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/script.js" type="text/javascript"></script>
    <title>PdmV Samples - {{ campaign }}</title>
  </head>
  <body>
    <div >
      <div style="text-align: right; margin: 10px;">Logged in as {{ fullname }}</div>
      <h5>PdmV Samples - {{ campaign }}</h5>
      <table>
        <tr>
          <th>Short name</th>
          <th>Dataset</th>
          <th>Root request</th>
          <th>Priority</th>
          <th>MiniAOD</th>
          <th>Chained request</th>
          <th>Interested PWGs</th>
        </tr>
        {% for row in table_rows %}
          <tr>
            <!-- Short name -->
            {% if row[0][1] > 0 %}
            <td rowspan={{row[0][1]}} title="All samples with {{row[0][0]}}_* datasets">{{row[0][0]}}</td>
            {% endif %}
            <!-- Dataset name -->
            {% if row[1][1] > 0 %}
            <td rowspan={{row[1][1]}}>
              <a target="_blank" href="https://cms-pdmv.cern.ch/mcm/requests?member_of_campaign={{campaign}}&dataset_name={{row[1][0]}}" title="Requests in McM with dataset name {{row[1][0]}} in campaign {{campaign}}">{{row[1][0]}}</a>
            </td>
            {% endif %}
            <!-- Root request name -->
            {% if row[2][1] > 0 %}
            <td rowspan={{row[2][1]}}><a target="_blank" href="https://cms-pdmv.cern.ch/mcm/requests?prepid={{row[2][0]}}" title="Open {{row[2][0]}} in McM">{{row[2][0]}}</a></td>
            <td rowspan={{row[2][1]}} style="text-align: right" title="Priority of {{row[2][0]}} is {{row[8]}}">{{row[8]}}</td>
            {% endif %}
            <!-- Mini AOD -->
            {% if row[3][1] > 0 %}
            <td rowspan={{row[3][1]}}><a target="_blank" href="https://cms-pdmv.cern.ch/mcm/requests?prepid={{row[3][0]}}" title="Open {{row[3][0]}} in McM">{{row[3][0]}}</a></td>
            {% endif %}
            <!-- Chained request -->
            {% if row[4][1] > 0 %}
            <td rowspan={{row[4][1]}}><a target="_blank" href="https://cms-pdmv.cern.ch/mcm/chained_requests?prepid={{row[4][0]}}" title="Open {{row[4][0]}} in McM">{{row[5]}}</a></td>
            {% endif %}
            <!-- Interested pwgs -->
            <td>
              <ul>
                {% for pwg in row[6] %}
                  <li>
                    <span title="{{pwg}} is interested in this sample">{{pwg}}</span>
                    <button type="button" class="badge badge-pill badge-danger" title="Remove {{pwg}} from interested PWGs" onclick="checkboxChange(this, '{{row[7]}}', '{{pwg}}', false)">X</button>
                  </li>
                {% endfor %}
                <li style="margin-top: 4px" title="Add an interested PWG to this sample">
                  <select onChange="checkboxChange(this, '{{row[7]}}', this.value, true)">
                    <option disabled selected value=''>Add</option>
                    {% for new_pwg in pwgs %}
                      <option value="{{new_pwg}}">{{new_pwg}}</option>
                    {% endfor %}
                  </select>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
